<?xml version="1.0" encoding="utf-8" ?>
<!--Here is where you name your different folders
    adding new folders is the same syntax as the ones below-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="InvoiceFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Archive Folders:
        Archive is a list so you can add as many
        archive folders as you would like (this is used for all of the folders)-->
    <add key="Archive_Folders" value ="C:\PPG\archives\archive_1, 
         C:\PPG\archives\archive_2"/>

    <!--temp folders:
        add more folders by adding a comma and the folder path-->
    <add key="Temp_Folders" value="C:\PPG\temp_holders\temp_holder_1, 
         C:\PPG\temp_holders\temp_holder_2" />

    <!--other folders:
        add more folders by adding a comma and the folder path-->
    <add key="Other_Folders" value="" />

    <!--Final destination:-->
    <add key="Final_Destination" value="C:\PPG\stores" />

    <!--Output path: -->
    <add key ="Output_Path" value="C:\PPG"/>

  </appSettings>
  <userSettings>
    <InvoiceFinder.Properties.Settings>
      <setting name="Output_Path_Persistent" serializeAs="String">
        <value />
      </setting>
      <setting name="Output_Type_Persistent" serializeAs="String">
        <value>2</value>
      </setting>
    </InvoiceFinder.Properties.Settings>
  </userSettings>
</configuration>
