<?xml version="1.0" encoding="utf-8" ?>
<!--Here is where you name your different folders
    adding new folders is the same syntax as the ones below-->
<configuration>
  <appSettings>
    <!--Archive Folders:
        a and b are the two different archive folders currently-->
    <add key="Archive_a" value ="C:\PPG\archives\archive_1"/>
    <add key="Archive_b" value="C:\PPG\archives\archive_2" />

    <!--temp folders:
        temp folders are set in settings with addotherpath function
        these are contained in inputfilepaths as a list of strings-->
    <add key="temp_folder" value="C:\PPG\temp_holders\temp_holder_1" />
    <add key ="temp_folder2" value ="C:\PPG\temp_holders\temp_holder_2"/>

    <!--Final destination:
        This folder is the stores folder which is the final
        destination of invoices (can add as many stores as you would like)-->
    <add key="Store1" value="C:\PPG\stores" />

    <!--Output path: -->
    <add key ="Output_Path" value="C:\PPG"/>

  </appSettings>
</configuration>
